<html>
    <head>
        <title>Colleen's Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 04.02.2017, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>In the beginning, God created the heaven and the earth. This move was wildely regarded as a mistake and made a lot of people very <em>angry.</em> </p>
        </div>

        <div>
            <p>published: 04.02.2017, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Picture this, I'm a bag of <em>dicks</em> put me to your lips, I am sick, I will punch a baby <strong>bear</strong> in his <strong>dick</strong></p>
        </div>
    </body>
</html>
